.container {

  display: flex;
  background-color: transparent;
  width: 97%;
  gap: 2rem;
  padding: 2rem;
  margin: 5% auto;
  box-shadow: 0 4px 8px rgb(250, 249, 249);
  border-radius: 20px;
  color: #ddd;
}

.table-container {
  background-color: transparent;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(252, 251, 251);
  width: 75%;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #eff0f1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

th {
  background-color: transparent;
  color: rgb(247, 246, 246);
}

tr:nth-child(even) {
  //background-color: #eef5e9;
  background: radial-gradient(
    circle at 30% 50%,
    rgba(45, 46, 45, 0.664) 0%,  /* Verde menos saturado e semitransparente */
    rgb(119, 117, 115) 40%,         /* Transição mais rápida para o verde escuro */
    black 100%
  );}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: transparent;
  color: #eeebeb;
  margin-right: 0.5rem;
  border-color: rgba(8, 61, 236, 0.8)
}

.delete-btn {
  background-color: transparent;
  color: #f8bbbb;
  border-color: rgba(255, 0, 0, 0.973);
}

.form-container {
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(252, 251, 251);
  width: 20%;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #f8f9fa;
}

input {
  width: 95%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submit-btn {
  //background: linear-gradient(to right, #226bf3, #414040);
  background: radial-gradient(
  circle at 50% 10%,
  rgba(8, 61, 236, 0.8) 20%,  /* Verde menos saturado e semitransparente */
  rgb(7, 7, 7) 60%,         /* Transição mais rápida para o verde escuro */
  black 100%
);
  color: #ffffff;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  border-color: #ddd;

}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: transparent;

  li {
    list-style: none;
    margin: 0 0.25em;

    a {
      color: #66a8ee;
      cursor: pointer;
      padding: 0.5em 1em;
      border: 1px solid #ddd;
      border-radius: 0.25em;
      text-decoration: none;

      &:hover {
        background-color: #007bff;
        color: #fff;
      }
    }

    &.current a {
      background-color: #007bff;
      color: #fff;
    }

    &.disabled a {
      color: #ddd;
      cursor: not-allowed;
    }
  }
}

/* Estilo base do botão Cancelar */
.cancel-btn {
  background: #ddd;
  color: #0529f8;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  border-color: #0529f8;
  margin-top: 1%;;
}

/* Efeito hover */
.cancel-btn:hover {
  background-color: #2d6adb; /* Vermelho mais escuro */
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(150, 195, 236, 0.2);
}

/* Efeito quando clicado */
.cancel-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Estilo quando o botão está desabilitado */
.cancel-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
