.container {

  display: flex;
  background-color: transparent;
  width: 97%;

  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.table-container {
  background-color: transparent;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 75%;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #343a40;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

th {
  background-color: transparent;
  color: black;
}

tr:nth-child(even) {
  //background-color: #eef5e9;
  background: linear-gradient(to right, #d2e1fd, #dddddd);
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: transparent;
  color: #5957f3;
  margin-right: 0.5rem;
  border-color: #5957f3;
}

.delete-btn {
  background-color: transparent;
  color: red;
  border-color: red;
}

.form-container {
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20%;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #495057;
}

input {
  width: 95%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submit-btn {
  background: linear-gradient(to right, #226bf3, #414040);
  color: #ffffff;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  border-color: transparent;

}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: transparent;

  li {
    list-style: none;
    margin: 0 0.25em;

    a {
      color: #66a8ee;
      cursor: pointer;
      padding: 0.5em 1em;
      border: 1px solid #ddd;
      border-radius: 0.25em;
      text-decoration: none;

      &:hover {
        background-color: #007bff;
        color: #fff;
      }
    }

    &.current a {
      background-color: #007bff;
      color: #fff;
    }

    &.disabled a {
      color: #ddd;
      cursor: not-allowed;
    }
  }
}
