 <div class="home-container">
  <header class="hero-section">
    <h1>ROCHA</h1>
    <p>System</p>
  </header>

  <section class="services-section">
    <div class="service-card" *ngFor="let service of services">

      <img routerLink="{{ service.router }}" [src]="service.image" [alt]="service.title"  style="cursor: pointer;"  />

      <a mat-button routerLink="{{ service.router }}" class="title-button">

        {{ service.title }}
      </a>

      <p>{{ service.description }}</p>
    </div>
  </section>
</div>




