mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background: linear-gradient(150deg, rgb(41, 245, 23), black);
  background: radial-gradient(
  circle at 30% 50%,
  rgba(50, 200, 20, 0.8) 0%,  /* Verde menos saturado e semitransparente */
  rgb(15, 70, 5) 40%,         /* Transição mais rápida para o verde escuro */
  black 100%
);
  color: white;

  .mat-mdc-button {
    color: #f4eeee;
}

  .logo {
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
  }

  .spacer {
    flex: 1;
  }

  button {
    margin-left: 15px;
    color: white;
  }
}

mat-button  {
  .a {
    color: white;
    }
}




